{%extends 'base_w2grid.html'%}
    {%block html_body%}
        <div id="addNew" style="width: 600px"></div>
        <script>
            $(function () {
                $('#addNew').w2form({
                    name   : 'AddNewForm',
                    url      : '/_add_new',
                    fields : [ {{ fields_str|safe }} ],
                    onSave: function(event) {
                        console.log(event.data.status);
                        if (event.data.status == 'success') {
                            var del_for = 1
                        } else {
                            var del_for = 1000
                        }
                        setTimeout(function() {
                            window.location.href = "{{ cancel_url }}";
                        }, (4 * del_for));
                    },
                    actions: {
                        Reset() { this.clear(); },
                        "save": function (target, data) {
                            this.save();
                            // window.location.href = "{{ cancel_url }}";
                        },
                        custom: {
                            text: 'Cancel',
                            style: 'color: red',
                            class: 'custom-class',
                            onClick(event) {
                                console.log('Custom button clicked', event)
                                window.location.href = "{{ cancel_url }}";
                            }
                        }
                    },
                });
            });
        </script>
    {%endblock html_body%}
