<!DOCTYPE html>
<html lang="en">
<head>
    <title>NetSanner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/w2ui-1.5.x.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/w2ui-1.5.x.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='network.ico') }}">
</head>
<body>
    {% block html_body%} {%endblock html_body%}
</body>
</html>